{{> header}}
    
    
    {{>navbar}}


    <h1>WEB DEMO PRUEBA 2</h1>

    <div class="row">

        <div class="col-8">
            <h1>awww</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero veritatis possimus in repellendus provident, officia eligendi, nemo tempore, error quam delectus ad blanditiis vel! Quaerat architecto ab velit earum.
            </p>
        </div>
        <div class="col-4">
            <img src="/assets/img/418652_271379976305129_1771538378_n_271379976305129.jpg" alt="" class="img-thumbnail">
        </div>

    </div>

    {{> pies}}
</body>
</html>